---
layout: default
title: Projects
---

<p></p>

<section>
  {% for project in site.projects %}
    <ul>
      <li>
        <a class="external" href="{{ project.url }}">
          {{ project.title }}
          {% if project %}
            ({{ project.status}})
          {% endif %}
        </a>
      </li>
    </ul>
  {% endfor %}
</section>

<style>
  .post {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    padding: 50px;
  }
  .post-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
</style>

